<!DOCTYPE html>
<html>

<head>
  <title>Book Listing</title>
  <link rel="stylesheet" href="/home_style.css">
</head>

<body>
  <nav class="navbar">
    <form action="/" method="GET" class="search-bar">
      <input type="text" name="search" placeholder="Search books..."
        value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>" />
      <button type="submit">Search</button>
    </form>

    <div class="menu-icon">Menu</div>
  </nav>

  <div style="width: 85%; margin: 20px auto;">
    <span>Sort By: </span>
    <a href="/?sort=rating">Highest Rated</a> |
    <a href="/?sort=date">Newest</a> |
    <a href="/">Reset</a>
  </div>

  <div class="grid">
    <% books.forEach(book=> { %>
      <div class="card">
        <img src="<%= book.coverlarge %>" alt="<%= book.title %>" class="book-img">

        <div class="info">
          <h3>
            <%= book.title %>
          </h3>
          <p>Author: <%= book.author %>
          </p>
          <p>Rating: <%= book.avgrating ? book.avgrating : 'N/A' %> / 5</p>
        </div>

        <a href="/book/<%= book.id %>" class="details">View Details</a>
      </div>
      <% }) %>
  </div>

  <footer>
    <div class="team">
      <h2>Our Team</h2>
      <h3>Vince Carrillo</h3>
      <h3>Kaylee Cromwell</h3>
      <h3>Camelia Mosor</h3>
    </div>
  </footer>
</body>

</html>
